<div class="card title form-container">
    <form class="form" method="POST">
        {% csrf_token %}
        <label for="placeName">Nombre del lugar: </label>
        <input type="text" id="placeName">

        <label for="placeAddres">Dirección:</label>
        <input type="text" id="placeAddres">

        <label for="placeDesc">Descripción:</label>
        <textarea name="placeDesc" id="placeDesc" cols="30" rows="5"></textarea>
        <button type="submit">Enviar</button>
    </form>
    <div id="formMap" class="form-map"></div>
</div>
