
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #ff9933;
}

.content {
    margin: 0 30px 100px;
}

.card {
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.title {
    text-align: center;
}

.map {
    margin-bottom: 40px;
    position: relative;
}

.popup {
    position: absolute;
    width: 30em;
    z-index: 1060;
    font-size: 12px;
}

.popup p {
    margin: 0;
}

.popup:before {
    content: "";
    position: absolute;
    display: block;
    border: 13px solid white;
    top: 16px;
    left: -24px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.form-map {
    width: 100%;
    margin-left: 10px;
}

.form-container {
    display: flex;
}

.form {
    text-align: center;
}

.form form{
    margin-bottom: 40px;
}

.form label {
    display: block;
    margin: 10px 0;
}
.form input, .form textarea {
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0.6em;
}
